body {
    background-color: #121212;
    color: #ffffff;
    padding-top: 70px;
}

.navbar {
    background-color: rgba(30, 30, 30, 0.8);
    backdrop-filter: blur(5px);
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar-nav .nav-link {
    color: #ffffff !important;
    font-size: 1rem;
    margin-right: 10px;
}

.navbar-nav .nav-link:hover {
    color: #6200ea !important;
}

.navbar-nav .nav-link.active {
    color: #6200ea !important;
    font-weight: bold !important;
}

.card {
    background-color: #1e1e1e;
    border: none;
    margin-bottom: 20px;
}

.card-title {
    color: #ffffff;
    margin-bottom: 1.5rem;
}

.list-group-item {
    background-color: #212121;
    border-color: #343a40;
}

.list-group-item:hover {
    background-color: #343a40;
}

.btn-primary {
    background-color: #6200ea;
    border-color: #6200ea;
}

.btn-primary:hover {
    background-color: #4b0082;
    border-color: #4b0082;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #218838;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #c82333;
}

footer {
    background-color: #212121;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.btn-sm {
    margin-left: 40%;
}
